*{
    padding: 0%;
    margin: 0%;
}

body{
    
    background-color: darkmagenta;
}
.a{
    color: white;
    text-align: center;
    padding: 10px;
}
.container{
    display:flex ;
    justify-content: space-around;
    flex-wrap:center ;
}
.container div{
    width: 200px;
    color: peachpuff;
    margin: 10px;
    flex-basis: 40%;
}    